@use '../../../styles/base/typography';

.create-survey {
  background-color: rgba(53, 39, 58, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 54px;

  border-radius: 5px 100px 5px 5px;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
  }

  &__main {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 32px;

    width: 100%;
  }

  &__headline--container {
    font-family: 'Nerko One';
    color: rgba(238, 146, 54, 1);
    line-height: 1;
    white-space: nowrap;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    align-self: flex-end;

    width: 90px;
    padding: 12px 16px;

    font-family: 'Mulish';
    font-size: 18px;
    font-weight: 700;
    color: rgba(254, 253, 255, 1);

    background-color: rgba(255, 207, 161, 1);
    border: none;
    border-radius: 10px;

    overflow: hidden;
    cursor: pointer;

    transition:
      width 0.3s ease-in,
      background-color 0.3s ease;

    &--icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 20px;
      height: 20px;

      margin-left: 0;

      transition: margin-left 0.3s ease-in;

      & svg {
        width: 100%;
        height: 100%;
      }

      &--cancel {
        width: 20px;
        height: 20px;

        margin-left: 0;

        transition: margin-left 0.3s ease-in;

        & svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    &:hover {
      width: 140px;

      background-color: rgba(255, 183, 112, 1);

      & .create-survey__button--icon {
        margin-left: 8px;
      }
    }
  }

  &__button-cancel {
    display: flex;
    align-items: center;
    justify-content: center;

    align-self: flex-end;

    padding: 8px 12px;

    font-family: 'Nokora';
    font-size: 16px;
    font-weight: 700;
    color: rgba(254, 253, 255, 1);

    background-color: rgba(255, 183, 112, 0.3);
    border: none;
    border-radius: 10px;

    cursor: pointer;

    &--icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 14px;
      height: 14px;

      margin-left: 8px;

      & svg {
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      background-color: rgba(255, 183, 112, 1);
    }
  }
}
