<section class="create-survey">
  <main class="create-survey__main">
    <header class="create-survey__header">
      <app-status-badge
        buttonText="Draft"
        backgroundColor="rgba(255, 207, 161, 1)"
      ></app-status-badge>
      <div class="create-survey__headline--container">
        <h3 class="create-survey__headline">Create new survey</h3>
        <button class="create-survey__button-cancel" type="reset" form="survey-form">
          Cancel
          <span class="create-survey__button-cancel--icon" [innerHTML]="iconsService.close"></span>
        </button>
      </div>
    </header>
    <app-survey-form #surveyForm></app-survey-form>
    <button
      class="create-survey__button"
      type="submit"
      form="survey-form"
      [disabled]="surveyForm.isInvalid()"
    >
      Publish <span class="create-survey__button--icon" [innerHTML]="iconsService.check"></span>
    </button>
  </main>
</section>
