<section class="sort-bar">
  <div class="sort-bar__buttons">
    <app-status-button
      buttonText="Active survey"
      [isActivated]="selectedFilter() === 'active'"
      (clickFunction)="setStatus('active')"
    ></app-status-button>
    <app-status-button
      buttonText="Past survey"
      [isActivated]="selectedFilter() === 'past'"
      (clickFunction)="setStatus('past')"
    ></app-status-button>
  </div>
  <app-drop-down-button-menu
    buttonText="Sort by categories"
    (categorySelected)="categorySelected.emit($event)"
  ></app-drop-down-button-menu>
</section>
