.survey-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  padding: 12px 20px;

  background: rgba(217, 217, 217, 0.08);

  border-radius: 5px 50px 5px 5px;

  font-family: 'Mulish', sans-serif;

  height: 100%;

  position: relative;

  & h4 {
    font-size: 24px;
  }

  & .status {
    align-self: flex-end;
    position: absolute;
    bottom: 12px;
  }

  &--soon {
    background-color: rgba(250, 245, 254, 1);
    padding: 50px 46px;

    gap: 10px;

    border-radius: 0 80px 0 0;

    & h4 {
      font-size: 26px;
    }

    & .status {
      align-self: flex-start;
      bottom: 50px;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;

    gap: 8px;
  }

  &__category {
    font-weight: 600;
    font-size: 14px;

    color: rgba(53, 39, 58, 1);
  }

  &__title {
    font-weight: 700;
  }
}
