.status-badge {
  display: inline-block;
  padding: 3px 12px 3px 8px;

  font-family: 'Mullish';
  font-size: 16px;
  font-weight: 600;
  color: rgba(34, 18, 39, 1);
  background-color: rgba(255, 207, 161, 1);
  border-radius: 0 4px 0 0;
}
