.dropdown {
  font-family: 'Mulish';
  font-size: 18px;
  font-weight: 700;
  color: rgba(254, 253, 255, 1);

  display: flex;
  flex-direction: column;

  position: relative;

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    width: 100%;
    padding: 8px 6px;

    font: inherit;
    color: rgba(254, 253, 255, 1);

    background: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    pointer-events: none;

    & span {
      display: flex;
      width: 100%;
      height: 100%;
    }

    & svg {
      display: block;
      width: 15px;
      height: 8px;

      color: white;
      fill: currentColor;
    }
  }

  &__menu {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: rgba(254, 253, 255, 1);
    border-radius: 6px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

    &--item {
      width: 100%;
      padding: 4px 8px;

      font: inherit;
      font-size: 14px;
      font-weight: 400;
      color: rgba(53, 39, 58, 1);
      text-align: left;

      background: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: rgba(142, 112, 153, 0.16);
      }
    }
  }

  &__selected-category {
    display: block;
    padding: 4px 6px;

    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 183, 112, 1);
  }
}
