<form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Survey name</label>
    <input type="text" id="name" formControlName="name" />
  </div>
  <div class="form-group">
    <label for="date">Set end date (optional)</label>
    <input type="date" id="date" formControlName="endDate" />
  </div>
  <div class="form-group">
    <label for="description">Survey Description</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>
  <div class="form-group">
    <label for="questions">Questions</label>
    <div formArrayName="questions">
      <input type="text" formControlName="question" />
      <button type="button" (click)="remove()">Remove</button>
    </div>
    <div class="form-group">
      <label for="answers">Answers</label>
      <div formArrayName="answers">
        <input type="text" formControlName="answer" />
        <button type="button" (click)="remove()">Remove</button>
        <input type="text" formControlName="answer" />
        <button type="button" (click)="remove()">Remove</button>
      </div>
    </div>
    <button type="submit" [disabled]="surveyForm.invalid">Create Survey</button>
  </div>
</form>
