<form id="survey-form" class="survey-form" [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
  <div class="survey-form__header">
    <div class="survey-form__header--left-side">
      <div class="form-group survey-form__name">
        <label for="name">Survey name</label>
        <div class="survey-form__input-button-container">
          <input type="text" id="name" formControlName="name" />
          <button type="button" class="survey-form__delete-button" (click)="remove(1)">
            <span class="survey-form__delete-button--icon" [innerHTML]="icons.trashcan"></span>
          </button>
        </div>
      </div>

      <div class="survey-form__date-category">
        <div class="form-group">
          <label for="date">Set end date <span class="optional">(optional)</span></label>
          <div class="survey-form__input-button-container">
            <input type="date" id="date" formControlName="endDate" />
            <button type="button" class="survey-form__delete-button" (click)="remove(1)">
              <span class="survey-form__delete-button--icon" [innerHTML]="icons.trashcan"></span>
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class="survey-form__dropdown">
            <button
              type="button"
              class="survey-form__dropdown-button"
              [class.survey-form__dropdown-button--open]="categoryDropdownOpen"
              (click)="toggleCategoryDropdown()"
            >
              <span>Choose category</span>

              <span class="survey-form__dropdown-arrow">
                @if (categoryDropdownOpen) {
                  <span [innerHTML]="icons.dropdownUpArrow"></span>
                } @else {
                  <span [innerHTML]="icons.dropdownDownArrow"></span>
                }
              </span>
            </button>

            @if (selectedCategory) {
              <span class="survey-form__selected-category">
                {{ selectedCategory }}
              </span>
            }
            @if (categoryDropdownOpen) {
              <div class="survey-form__dropdown-menu">
                @for (category of categories; track category) {
                  <button
                    type="button"
                    class="survey-form__dropdown-item"
                    (click)="selectCategory(category)"
                  >
                    {{ category }}
                  </button>
                }
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="survey-form__header--right-side">
      <div class="form-group">
        <label for="description">Describing text <span class="optional">(optional)</span></label>
        <div class="survey-form__input-button-container">
          <textarea id="description" formControlName="description"></textarea>
          <button type="button" class="survey-form__delete-button" (click)="remove(1)">
            <span
              class="survey-form__delete-button--icon survey-form__delete-button--icon--textarea"
              [innerHTML]="icons.trashcan"
            ></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="survey-form-questions-container" formArrayName="questions">
    @for (question of questions.controls; track $index; let index = $index) {
      <div class="form-group survey-form-question">
        <div class="survey-form-question__item" [formGroupName]="index">
          <div class="survey-form-question__header">
            <div class="survey-form-question__header--label-container">
              <label>
                <span>{{ index + 1 }}.</span>
                Question
              </label>
              <button
                type="button"
                class="survey-form__delete-button"
                (click)="removeQuestion(index)"
              >
                <span
                  class="survey-form__delete-button--icon survey-form__delete-button--icon--textarea"
                  [innerHTML]="icons.trashcan"
                ></span>
              </button>
            </div>
            <input type="text" formControlName="question" />
          </div>
          <div class="survey-form-answers">
            <div class="survey-form-answers__header">
              <label>Answers</label>
              <div class="survey-form__input-button-container">
                <input
                  class="survey-form__checkbox"
                  type="checkbox"
                  id="allowMultipleAnswers"
                  formControlName="allowMultipleAnswers"
                />
                <label for="allowMultipleAnswers" class="optional"> Allow multiple answers </label>
              </div>
            </div>
            <div class="survey-form-answers__answers" formArrayName="answers">
              @for (answer of getAnswers(index).controls; track answer; let answerIndex = $index) {
                <div class="form-group survey-form-answers__answer">
                  <label>{{ getAnswerLetter(answerIndex) }}.</label>

                  <input type="text" [formControlName]="answerIndex" />

                  <button
                    type="button"
                    class="survey-form__delete-button"
                    (click)="removeAnswer(index)"
                  >
                    <span
                      class="survey-form__delete-button--icon"
                      [innerHTML]="icons.trashcan"
                    ></span>
                  </button>
                </div>
              }
            </div>
            <button
              type="button"
              class="survey-form-answers__add-answer-button"
              (click)="addAnswer(index)"
            >
              Add answer
              <span
                class="survey-form-answers__add-answer-button--icon"
                [innerHTML]="icons.plus"
              ></span>
            </button>
          </div>
        </div>
      </div>
    }
    <button
      class="addQuestionButton"
      type="button"
      class="survey-form__add-question-button"
      (click)="addQuestion()"
    >
      Add next question
      <span class="survey-form__add-question-button--icon" [innerHTML]="icons.plus"></span>
    </button>
  </div>
</form>
