<form id="survey-form" class="survey-form" [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
  <div class="survey-form__header">
    <div class="surver-form__header--left-side">
      <div class="form-group">
        <label for="name">Survey name</label>
        <input type="text" id="name" formControlName="name" />
      </div>
      <div class="form-group">
        <label for="date">Set end date (optional)</label>
        <input type="date" id="date" formControlName="endDate" />
        <label for="time">Set end time (optional)</label>
        <input type="" id="time" formControlName="endTime" />
      </div>
    </div>
    <div class="surver-form__header--right-side">
      <div class="form-group">
        <div class="form-group">
          <label for="description">Survey Description</label>
          <textarea id="description" formControlName="description"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="questions">Questions</label>
    <div formArrayName="questions">
      <input type="text" formControlName="question" />
      <button type="button" (click)="remove()">Remove</button>
    </div>
    <div class="form-group">
      <label for="answers">Answers</label>
      <div formArrayName="answers">
        <input type="text" formControlName="answer" />
        <button type="button" (click)="remove()">Remove</button>
        <input type="text" formControlName="answer" />
        <button type="button" (click)="remove()">Remove</button>
      </div>
    </div>
  </div>
</form>
