@font-face {
  font-family: 'Mulish';
  src: url('../../assets/fonts/Mulish/Mulish-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nerko_One';
  src: url('../../assets/fonts/Nerko_One/NerkoOne-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nokora';
  src: url('../../assets/fonts/Nokora/Nokora-VariableFont_wght.ttf');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
